@import './constants.css';

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
}

a:focus,
a:hover {
    color: var(--secondary-color-1);
    text-decoration: underline;
}

body,
td,
th,
tr,
p {
    color: var(--on-body-bg-color);
    
    font-family: var(--main-font), sans-serif;
    font-size: 20px;
}

strong {
    color: var(--on-body-bg-color);
    
    font-family: var(--main-font), sans-serif;
    font-size: 14px;

    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

h1 {
    color: var(--on-body-bg-color);

    font-family: var(--display-font), sans-serif;
    font-weight: 700;
    font-size: 64px;

    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

h2 {
    color: var(--on-body-bg-color);

    font-family: var(--display-font), sans-serif;
    font-size: 48px;

    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

h3 {
    color: var(--on-body-bg-color);

    font-family: var(--main-font), sans-serif;
    font-size: 36px;

    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
}

h4 {
    color: var(--on-body-bg-color);

    font-family: var(--main-font), sans-serif;
    font-size: 24px;

    margin-block-start: 0.1rem;
    margin-block-end: 0.1rem;
}

h5 {
    color: var(--on-body-bg-color);

    font-family: var(--main-font), sans-serif;
    font-size: 20px;

    margin-block-start: 0.1rem;
    margin-block-end: 0.1rem;
}

h6 {
    color: var(--on-body-bg-color);

    font-family: var(--main-font), sans-serif;
    font-size: 20px;
    font-weight: 700;

    margin-block-start: 0.1rem;
    margin-block-end: 0.1rem;
}

@media screen and (max-width: 600px) {
    body,
    td,
    th,
    tr,
    p,
    a {
        font-size: 16px;
    }
    
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
}

/* FROM JON BARRON'S ACADEMIC PERSONAL WEBSITE */

.papertitle {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.name {
    padding-top: 20px;
    margin: 0;
    font-family: var(--display-font);
    font-size: 32px;
}

.one {
    width: 160px;
    height: 160px;
    position: relative;
}

.two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
    background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

/* BODY */

body {
    margin: 0;

    background-color: var(--body-bg-color);
}

/* NAV BAR */

header {
    background-color: var(--nav-bg-color);

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

.topnav {
    display: flex;
    justify-content: flex-end;
    
    overflow: hidden;
    background-color: var(--nav-bg-color);
    padding: 12px 24px;
}

.topnav a {
    float: left;
    display: block;
    color: var(--on-nav-bg-color);
    text-align: center;
    margin: 6px 4px;
    padding: 8px 16px;
    

    font-family: var(--display-font), sans-serif;
    font-weight: 500;
    font-size: 20px;

    text-decoration: none;
}

.topnav a:hover,
.topnav a:active {
    color: var(--on-nav-bg-color);
    
    border-radius: 8px;

    text-decoration: underline;
    text-underline-offset: 3px;
}

.topnav .icon {
    display: none;
}

a.topnav-logo {
    margin-right: auto;
    z-index: 100;
}

a.topnav-logo:hover {
    text-decoration: none;
}

a.topnav-logo img {
    display: inline-block;
    width: auto;
}

#contact-button {
    background-color: var(--primary-color);
    color: var(--on-primary-color);

    border-radius: 24px;
}

#contact-button:hover {
    background: linear-gradient(30deg, var(--secondary-color-1) 15%, var(--secondary-color-2)) 95%;
    color: var(--on-secondary-color);

    border-radius: 24px;

    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

/* HERO */

.hero {
    position: relative;
    display: flex;
    padding: 120px 0 48px 0;
    width: auto;
    min-height: 75vh;
    max-height: 100vh;

    color: var(--on-primary-color);

    background-image: linear-gradient(30deg, var(--transparent-sky-blue), var(--transparent)),
        url('assets/images/maarten-van-den-heuvel-gZXx8lKAb7Y-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.hero-overlay {
    display: flex;
    flex-wrap: wrap;

    width: 75%;
    justify-content: center;
}

.hero-overlay div {
    display: inline-block;

    text-align: left;
}

.hero-overlay .left {
    margin: auto 0;
    width: 50%;
}

.hero-overlay h1,
.hero-overlay h2,
.hero-overlay h3,
.hero-overlay h4,
.hero-overlay h5,
.hero-overlay h6,
.hero-overlay p {
    color: var(--on-primary-color);

    width: auto;
}

.hero-overlay a {
    padding: 6px 16px;
    margin: 0 6px 0 0;

    color: var(--primary-color);
    background: var(--on-primary-color);
    border-radius: 18px;

    text-decoration: none;
}

.hero-overlay a:focus,
.hero-overlay a:hover {
    color: var(--on-primary-color);
    background: linear-gradient(30deg, var(--secondary-color-1) 15%, var(--secondary-color-2)) 95%;
}

.hero-overlay .headshot {
    float: right;
    width: 360px;
    height: 360px;

    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .main {
        justify-content: space-between;
    }

    .hero-overlay {
        width: 80%;
    }

    .hero-overlay .left {
        order: 2;
        width: 100%;
        padding-top: 24px;
        text-align: center;
    }

    .hero-overlay .right {
        order: 1;
    }

    .hero-overlay .headshot {
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        height: 85vh;
    }
}

@media screen and (max-width: 360px) {
    .hero-overlay a {
        display: block;
        margin: 16px 0;
        padding: 8px 16px;
    }

    .hero-overlay .headshot {
        width: 240px;
        height: 240px;
    }
}

/* FOOTER */

footer {
    background-color: var(--nav-bg-color);

    font-family: var(--display-font), sans-serif;
    font-weight: 400;

    width: auto;
    padding: 24px;
    text-align: right;
}

footer p {
    color: var(--on-nav-bg-color);
    font-size: 16px;
}

/* COMPONENTS */

.container {
    position: relative;
    margin: 20px auto;
    padding: 20px;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    padding: 20px;
    width: 70%;

    display: block;
}

.content-card {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;

    border-radius: 20px;
}

.feature {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gradient-background {
    background: linear-gradient(30deg, var(--secondary-color-1), var(--secondary-color-2));
    color: var(--on-secondary-color);
}

.grey-background {
    background: var(--on-body-accent-bg-color);
}

.lightblue-background {
    background: var(--light-blue);
}

.content-grid {
    display: grid;
    grid-template: auto auto / 180px auto;
    grid-auto-rows: auto;

    grid-row-gap: 36px;
    grid-column-gap: 48px;

    margin-top: 50px;

    background-color: var(--body-bg-color);
    border-radius: 20px;
    padding: 36px;
}

.content-grid .grid-item {
    margin: 0;

    align-items: center;
    justify-content: center;
}

.content-grid .event-date {
    display: flex;
    text-align: center;

    padding: auto 20px;

    height: auto;
}

.content-grid .event-date p {
    font-family: var(--display-font), sans-serif;
    font-weight: 500;
    font-size: 20px;

    color: var(--on-secondary-color);
    margin-block: 0;
}

.content-grid .event-description p {
    margin-block-end: 0;
}

@media screen and (max-width: 1200px) {
    .content {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 90%;
    }

    .content-grid {
        grid-template: auto auto / 120px auto;

        grid-row-gap: 24px;
        grid-column-gap: 24px;

        margin-top: 50px;
        padding: 24px;
    }
}

@media screen and (max-width: 480px) {
    .content-grid {
        display: block;
        justify-content: space-between;
    }

    .content-grid .event-date,
    .content-grid .event-description {
        margin-bottom: 24px;
    }
}